*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

:root{
  --bg-color: #222222;
  --second-bg-color: #222222;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #ff4d05;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  font-family: roboto;
}



body.light-mode {
  background-color: #fff; /* set background color to white */
  color: #000; /* set text color to black */
}

body.light-mode .hero {
  background: #ffff;
  
}body.light-mode  .btn{
  color: #000;
}

body.light-mode .card{
  background: #ffff !important;
}

body.light-mode .card-subtitle{
  color: #000;
}

body.light-mode button {
  background: var(--primary-color);
  color: #000;
}

body.light-mode button:hover {
  background: var(--main-color);
  color: var(--text-color);
}

body.light-mode .item {
  background: #fff;
}

body.light-mode .item:hover{
  background:#ff4d05;
}

body.light-mode .faa{
  color: #000;
}

body.light-mode .popup-content {
  background: #fff;
  color: #000;
}

header{
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
}
.navbar-brand{
  color: var(--text-color);
  font-size: 30px;
  font-weight: 700;
  padding: -20px;
  margin-top:-10px;
  margin-bottom: -10px;
}

.navbar-toggler{
  margin-top: 1px;
  margin-bottom: 1px;
}

span{
  color: var(--main-color);
}
.navlist {
  display: flex;
}

.navlist a{
  color: var(--second-color);
  font-size: 20px;
  font-weight: 300;
  font-family: 'Montserrat';
  transition: all .45s ease;
}

.navlist a:hover{
  color: var(--main-color);
  transform: translateY(-10px);
}

.navlist a:active{
  color: var(--main-color);
}

h1{
  color: var(--main-color);
}

h2{
  color: var(--main-color);
}

h3{
  color: var(--main-color);
}

h4{
  color: var(--main-color);
}

h5{
  color: var(--main-color);
  font-size: 1.8rem;
  padding-top: 30px;
}

strong{
  color: var(--main-color);
}

img {
  border-radius: 50%;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222222;
}

.hero h1 {
  text-align: center;
  letter-spacing: -2px;
  line-height: 85px;
  color: var(--main-color);
  font-family: monospace;
}

.hero-content h1{
  color: var(--main-color);
}

.line {
  width: 22em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: var(--main-color);
}

.anim-typewriter {
  font-size: 95px;
  animation: typewriter 4s steps(30) 1s 1 normal both,
  blinkTextCussor 500ms steps(30) infinite normal;

}

.anim-typewriter1 {
  font-size: 80px;
  animation: typewriter 4s steps(30) 5s 1 normal both,
  blinkTextCussor 500ms steps(30) infinite normal;
}
.anim-typewriter2 {
  font-size: 40px;
  animation: typewriter 4s steps(35) 9s 1 normal both,
  blinkTextCussor 500ms steps(35) infinite normal;
}

@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 13em;
  }
}

@keyframes blinkTextCussor {

  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
        border-right-color: transparent;
  }
}

@media screen and (max-width: 1200px ) {

  .header h1 {
    font-size: 50px;
    color: var(--main-color);
  }
} 

@media screen and (max-width: 992px ) {

  .header h1 {
    font-size: 27px;
    color: var(--main-color);
  }
} 

@media screen and (max-width: 768px) {

  .header h1 {
    font-size: 18px;
    color: var(--main-color);
  }
} 

@media screen and (max-width: 380px) {

  .header h1 {
    font-size: 12px;
    color: var(--main-color);
  }
} 

.btn {
  display: inline-block;
  padding: 10px 30px;
  color: var(--text-color);
  border-radius: 5px;
  border: solid var(--main-color) 1px;
  margin-top: 50px;
  opacity: 0.7;
}

.btn:hover {
  background: var(--main-color);
  transform: scale(0.98);
  color: var(--text-color);
}

svg {

  margin-top: -150px;
  margin-bottom: -45px;
  font: 6rem 'Montserrat';
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #ff4d05;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #ff4d05;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #ff4d05;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #ff4d05;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #ff4d05;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

#me{
  background: var(--bg-color) !important;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 0% !important;
  border:5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s; 
}

#resume{
  border-radius: 0%;
}

#me:hover{
  transform: translateY(-10px);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background: var(--bg-color);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: solid var(--main-color) 1px;
  margin-top: 50px;
  opacity: 0.7;
}

button:hover {
  background: var(--main-color);
  transform: scale(0.98);
  color: var(--text-color);
}

.item {
  background: #222222;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border:5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover{
  background:#ff4d05;
  transform: translateY(-10px); 
  box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}

.item:hover h6, .item:hover .fa{
  color:#222222 !important;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}

.item:hover p{
  color:#fff !important;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}

.item .feature_box_col_one{
  color:#ff4d05
}
.item .feature_box_col_two{
  color:#ff4d05
}
.item .feature_box_col_three{
  color:#ff4d05
}
.item .feature_box_col_four{
  color:#ff4d05
}
.item .feature_box_col_five{
  color:#ff4d05
}
.item .feature_box_col_six{
  color:#ff4d05
}
.item p{
  font-size:15px;
  line-height:26px;
}
.item h6 {
  margin-bottom:20px;
  color:#ff4d05;
}

.card-text1{
  font-size: 30px;
}

.card-subtitle{
  color: var(--text-color);
}

.modal-body, .modal-footer{
  background: var(--bg-color);
}

.fa{
  color: var(--main-color);
  font-size: 35px;
}

.faa{
  color: var(--text-color);
  font-size: 20px;
}

.card{
  background: #222222 !important;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow:0 0px 25px rgba(255,99,71,1.000);
  box-shadow:0 0px 25px rgba(255,99,71,1.000);
  border-radius: 20px;
  border:5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s; 


}

.card:hover {
  border-radius:100px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}

.card-body{
  padding: 0;
  margin: 0;
}

.fa-facebook:hover{
  transform: translateY(-10px);
  transform: scale(0.98);
  color: #fff;
}

.fa-twitter:hover{
  transform: translateY(-10px);
  transform: scale(0.98);
  color: #fff;
}

.fa-linkedin:hover{
  transform: translateY(-10px);
  transform: scale(0.98);
  color: #fff;
}

.fa-gitlab:hover{
  transform: translateY(-10px);
  transform: scale(0.98);
  color: #fff;
}

.social{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
  border-top: 1px solid #ff4d05;
  margin-top: 50px;
}

.contact a {
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  width: 2em;
  line-height: 2em;
  margin: 0 .20em;
  color: #555;
  font-size: 1.5em;
  transition: background-color .2s ease-in-out;
  border-radius: 50%;
  animation: icons .2s ease-out 0s 1 normal forwards;
  transform: translateY(-10px);
}

#message-sent-card{
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
}

#message-sent-card p #message-sent-name, #message-sent-contact, #message-sent-email, #message-sent-message{
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
}

#message-sent-card h5 #message-sent-name, #message-sent-contact, #message-sent-email, #message-sent-message{
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
}

#name, #contactnum, #email, #message{
  justify-content: center;
  align-items: center;
  color: #555 !important;
  text-align: center;
}

@keyframes icons {
  0%    { transform: translateY(3em); opacity: 0; }
  70%   { transform: translateY(-.5em); opacity: 1; }
  100%  { transform: translateY(0em); opacity: 1; }
}

/* .contact a:nth-child(1) { animation-delay: 2.5s; }
.contact a:nth-child(2) { animation-delay: 2.55s; }
.contact a:nth-child(3) { animation-delay: 2.6s; }
.contact a:nth-child(4) { animation-delay: 2.65s; } */

.contact a:hover { color: #39F; }

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollBtn:hover {
  background: var(--main-color);
  transform: scale(0.98);
  color: var(--text-color);
}

#scrollBtns {
  display: none;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 1;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollBtns:hover {
  background: var(--main-color);
  transform: scale(0.98);
  color: var(--text-color);
}
