*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #222222;
	--second-bg-color: #222222;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #ff4d05;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
  font-family: roboto;
}

header{
	position: sticky;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}

.navbar-brand{
	color: var(--text-color);
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;

}

span{
	color: var(--main-color);
}

.navbar{
}

.navlist{
	display: flex;

}

.navlist a{
	color: var(--second-color);
	font-size: 17px;
	font-weight: 500;
  font-family: roboto;
	margin: 0 25px;
	transition: all .45s ease;
  margin-bottom: 50px !important;
}

.navlist a:hover{
	color: var(--main-color);

}

.navlist a:active{
	color: var(--main-color);

}

#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	z-index: 1001;
	cursor: pointer;
	margin-left: 25px;
	display: none;


}

h1{
		color: var(--main-color);
}

h2{
		color: var(--main-color);
}

h3{
		color: var(--main-color);
}

h4{
		color: var(--main-color);
}

h5{
		color: var(--main-color);
}

strong{
		color: var(--main-color);
}

img {
  border-radius: 50%;
}

.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: solid var(--main-color) 1px;
  margin-top: 25px;
  opacity: 0.7;
}

.btn:hover {
  transform: scale(0.98);

}

.hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #222222;
}

.hero h1 {
      font-weight: lighter;
      text-align: center;
      letter-spacing: -2px;
      line-height: 58px;
      color: var(--main-color);
      font-family: roboto;
}

.hero-content h1{
    color: var(--main-color);
}


.line {
      width: 24em;
      top: 50%;
      margin: auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
      color: #ff4d05;
}

.anim-typewriter {
      font-size: 60px;
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;

}
.anim-typewriter1 {
    font-size: 40px;
      animation: typewriter 4s steps(40) 5s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}
.anim-typewriter2 {
    font-size: 40px;
      animation: typewriter 4s steps(40) 9s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 18em;
      }
}


@keyframes blinkTextCussor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}



@media screen and (max-width: 1200px ) {

      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 18em;
            }
      }
      .header h1 {
            font-size: 50px;
    color: var(--main-color);
      }
}

@media screen and (max-width: 992px ) {

      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 18em;
            }
      }
      .header h1 {
            font-size: 35px;
    color: var(--main-color);
      }
}


@media screen and (max-width: 768px) {

      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 18em;
            }
      }
      .header h1 {
            font-size: 20px;
    color: var(--main-color);
      }
}

#projects{
    padding-top: 120px;
}

#experience{
    padding-top: 120px;
}

#tools{
    padding-top: 120px;
}

#contact{
      padding-top: 120px;
}



.global .social{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
  border-top: 1px solid #ff4d05;
  margin-top: 50px;
}
.global .social a{
  font-size: 22px;
  width: 45px;
  height: 45px;
  line-height: 39px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #ff4d05;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  margin: 10px;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.global .social a:hover{
  opacity: 0.9;
  box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}
.global .copyright{
  text-align: center;
  padding-top: 24px;
  font-weight: 500;
  opacity: 0.8;
  font-size: 16px;
}